<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Korisnici</h1>
		<br>
          <%= render :partial => 'usersThumbs' %>
		<br>
	</div>
		<%= link_to 'New User', new_user_path, class: "btn btn-success", 'data-no-turbolink' => true %>

</div>
