<div style="min-height: 100%;margin-top: 100px;  position:relative;">
	<div ng-show="korak==0">
		<img class="banner" src="mhub.png" style="float: none; margin: 0 auto;" />
		<button class="btn-inverse next" ng-click="dalje()">
			Dalje
		</button>
        <h4>Najnovije</h4>
        <hr />
        <div class="row">
            <div class="span4" ng-repeat="ad in newAds">
                <a class="thumbnail" href="#/oglas/{{ad.id}}">
                    <h4>{{ad.title}}</h4>
                    <p>{{ad.description}}</p>
                </a>
            </div>
        </div>
	</div>



    <div ng-show="korak==1">
        <h2>Odaberite tip reklame</h2>
        <hr />

        <div class="row">
            <div class="span4" ng-repeat="tip in tipovi">
                <div ng-click="tipClick(tip)"  >
                    <a class="span4 btn" style="margin-bottom: 4px;" ng-show="tip != odabraniTip">
                        <img src="{{tip.ad_type}}.png " alt="{{tip.ad_type}}.png">
                        <p>{{tip.ad_type | uppercase}}</p>
                    </a>
                    <a class="span4 btn btn-info" style="margin-bottom: 4px; " ng-show="tip == odabraniTip">
                        <img src="{{tip.ad_type}}.png " alt="{{tip.ad_type}}.png">
                        <p>{{tip.ad_type | uppercase}}</p>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div ng-show="korak==2">
        <h2>Reklame</h2>
        <hr />
        <div class="list-group">
            <div class="list-group-item" ng-repeat="adX in ads">
                <input type="checkbox" style="float: right;" ng-checked="isSelected(adX)" ng-click="updateSelection($event, adX)" ng-model="adX.checked"/>

                <h4 class="list-group-item-heading">
                    {{adX.title}}
                </h4>
                <p class="list-group-item-text">
                    {{adX.subtitle}}
                </p>

                <p>Date start: {{adX.date_start | date:'dd.MM.yyyy hh:mm'}}; end: {{adX.date_end | date:'dd.MM.yyyy hh:mm'}}</p>

                <div ng-show="adX.checked" class="well">
                    <p>Duration: {{adX.buy_duration}} {{adX.unit}}</p>
                    <rzslider
                            rz-slider-floor="0"
                            rz-slider-ceil="adX.max_duration"
                            rz-slider-model="adX.buy_duration"
                            rz-slider-step="1"></rzslider>
                    Start time: <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="adX.buy_date_start" is-open="datePickerOpened" min-date="adX.date_start" max-date="adX.date_end" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                </div>

                <a class="btn btn-xs" ng-init="discussShow=0" ng-click="discussShow = !discussShow; refreshQuestions(adX.id, 0)"><span class="glyphicon glyphicon-comment"></span> Discussion</a>
                <div style="padding-top: 10px" ng-show="currentActiveDiscussion == adX.id" ng-controller="headerController">
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <td colspan="2">
                                <input type="text" ng-model="messageText" style="width: 98%" placeholder="Message text"/>
                            </td>
                            <td style="text-align: center; width: 10%">
                                <a class="btn btn-xs" style="width: 60%" ng-click="postQuestion(userID, adX.id, messageText)">Ask</a>
                            </td>
                        </tr>
                        <tr ng-repeat="adQ in adQuestions">
                            <td style="width: 5%;">{{adQ.user_id}}</td>
                            <td>{{adQ.content}}</td>
                            <td style="text-align: right; width: 15%;">{{adQ.created_at | date:'dd.mm.yyyy HH:mm'}}</td>
                        </tr>
                    </table>
                </div>
                <hr />
            </div>
        </div>
    </div>


    <div ng-show="korak==3">
        <h2>Upload materijala</h2>
        <div>
            <p>Odabrane reklame: </p>
            <span class="label label-info" style="margin-bottom: 3px; margin-right: 5px;" ng-repeat="x in ads" ng-if="x.checked">{{x.title}}</span>
            <p> Upload-ovani materijala će biti iskorišten za kreiranje reklame na izabranom medijskom prostoru</p>
        </div>
        <div>
            <input type="file" ng-file-select="onFileSelect($files)" multiple>

        <div class="meter" ng-show="Progress>0">
            <span style="width: {{Progress}}%"><center style="margin-top: -5px;">{{Progress}}</center></span>
            <br>
            <div ng-show="error==1">
                Ima greška prilikom uploada!
            </div>
            <div ng-show="error==0">
                Uspješan upload!
                <div ng-controller="headerController">
                    <a class="btn" ng-click="getLastUploaded(userID, ads, info)">Attach media</a>
                </div>
            </div>
        </div>

        </div>
        <hr />


    </div>








    <div ng-show="korak>0" style="margin: 20px 0;">
        <button class="btn btn-default" ng-click="nazad()">
            Nazad
        </button>
        <button class="btn btn-success" ng-click="dalje()" ng-show="korak<brKoraka">
            Dalje
        </button>
        <button class="btn btn-primary" ng-click="buyAllSelectedAds()" ng-show="korak==brKoraka">
            Kupi sve označene reklame
        </button>
    </div>




</div>
