<div class="hero-unit">
	<input type="file" ng-file-select="onFileSelect($files)" multiple>

	<div class="meter" ng-show="Progress>0">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{Progress}}%;">
				{{Progress}}%
			</div>
		</div>
		<br>
		<div ng-show="error==1">
			Ima greška prilikom uploada!
		</div>
		<div ng-show="error==0">
			Uspješan upload!
		</div>
	</div>

</div>
