<div class="container">
    <div class="hero-unit">
        <div ng-controller="headerController">
        <h4>{{flash}}</h4>


        <h4>{{marketer.name}}</h4>
        <hr />
        <h5>Username: {{marketer.username}}</h5>
        <p>Email: {{marketer.email}} </p>
        <p>{{marketer.description}} </p>

        <a class="btn" data-no-turbolink="true" ng-show={{loggedIn}} ng-init="formVisibility=0" ng-click="formVisibility = !formVisibility" >Review<a>
        <div ng-show="formVisibility">
            <form>
                <textarea ng-model="newReview" placeholder="Review text" ></textarea> <br/>
                <a class="btn" ng-click="ludomRadovanje(newReview, marketer.id, user_id)">Submit</a>


            </form>
        </div>

        </div>

    </div>
</div>
</div>