<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h3>Povratak zaboravljene lozinke</h3>
        <table align="left">
            <tr>
                <td>

                    <input id="email" ng-model="recovery.email" placeholder="Email" required>
                </td>
                <td >
                    <button class="btn" ng-click="sendRecovery(recovery)">
                        Send
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>
</div>