<div class="container">
	<div class="hero-unit">
		<div class="row-fluid" ng-init="newUser.user_type_id = 2" >
			<div class="control-group span12">
				<div class="control-group span2"></div>
				<div class="control-group span2">

				</div>
				<div class="control-group span8"></div>
			</div>
			<div ng-controller="userRegistrationController">

				<div class="control-group span12">
					<div class="control-group span2">
						<div class="thumbnail" style="display: none">
							<img ng-src="bluebells_darker.jpg" ng-model="newUser.avatar">
						</div>
					</div>
					<div class="control-group span2">

					</div>
					<script>
						function readURL(input) {
							if (input.files && input.files[0]) {
								var reader = new FileReader();

								reader.onload = function(e) {
									$('#slika').attr('src', e.target.result);
								}

								reader.readAsDataURL(input.files[0]);
							}
						}


						$("#slikaInput").change(function() {
							readURL(this);
						});
					</script>

				</div>
				<form class="form-horizontal" name="userForma">
					<div class="control-group span4">
						<label for="name">Name:</label>
						<input name="name" id="name" ng-model="newUser.name" placeholder="Name" ng-minlength="5" ng-maxlength="20" required>
						<p ng-show="userForma.name.$error.minlength" class="help-block">
							Ime je prekratako.
						</p>
						<p ng-show="userForma.name.$error.maxlength" class="help-block">
							Ime je predugo.
						</p>
						
						<label for="username">Username:</label>
						<h4 style="color: red;">{{rezultat.username[0]}}</h4>
						<input name="username" id="username" ng-model="newUser.username" placeholder="Username" ng-minlength="5" ng-maxlength="20" required>
						<p ng-show="userForma.username.$error.minlength" class="help-block">
							Username je prekratak.
						</p>
						<p ng-show="userForma.username.$error.maxlength" class="help-block">
							Username je predug.
						</p>
						
						
						<label for="email">Email:</label>
						<h4 style="color: red;">{{rezultat.email[0]}}</h4>
						<input name="email" id="email" type="email" ng-model="newUser.email" placeholder="Email" required>
						<p ng-show="userForma.email.$invalid && !userForm.email.$pristine" class="help-block">Unesite validan email.</p>
						<label for="password">Password:</label>
						<input name="password" id="password" type="password" ng-model="newUser.password" placeholder="Password" ng-minlength="5" ng-maxlength="20" required>
						<p ng-show="userForma.password.$error.minlength" class="help-block">
							Šifra je prekratka.
						</p>
						<p ng-show="userForma.name.$error.maxlength" class="help-block">
							Šifra je preduga.
						</p>
						<label for="passwordc">Password confirm:</label>
						<input name="input" id="passswordc" type="password" ng-model="newUser.password_confirmation" placeholder="Password confirm" required>
						<p ng-show="newUser.password_confirmation!=newUser.password" class="help-block">
							Šifre se ne slažu.
						</p>
					</div>
					<div >

					</div>
					<div class="control-group span4">
						<label for="contact">Contact:</label>						<textarea id="contact" ng-model="newUser.contact" placeholder="Contact" ></textarea>
						<label for="description">Description:</label>						<textarea id="description" ng-model="newUser.description" placeholder="Description"></textarea>
					</div>
					<div class="control-group span4">
						&nbsp;
					</div>
					<div class="control-group span12">
						<label for="avatar">Avatar:</label>
						<input type="file" id="avatar" ng-file-select="onFileSelect($files)">
						<div class="meter" ng-show="Progress>0" style="width: 200px;">
							<span style="width: {{Progress}}%">
								<center style="margin-top: -5px;">
									{{Progress}}
								</center></span>
							<br>
							<div ng-show="error==1">
								Ima greška prilikom uploada!
							</div>

						</div>
					</div>
					<div class="control-group span8">
						<div class="captcha">

						</div>
						<div ng-show="error==0">
							Uspješan upload!
							<img src="{{realAvatar}}" width="120" height="120"/>
						</div>

					</div>

					<div class="control-group span8">
						<div class="actions">
							<button class="btn btn-primary btn-block" ng-click="registerUser(newUser)" data-no-turbolink="true" ng-disabled="userForma.$invalid">
								Prijavi
							</button>
							
						</div>
					</div>
				</form>
			</div>

		</div>
