<div class="container">
    <div class="hero-unit">
        <form name="searchAdsForm">
            <div class="input-append">
                <input type="text" ng-model="searchText" class="form-control" name="search" id="search" placeholder="Pretraga oglasa" style="width: 750px;" required value="{{searchText}}" />
                <button ng-click="searchAds(searchText)" class="btn btn-default" ng-disabled="searchAdsForm.$invalid">Traži</button>
            </div>
        </form>
    </div>
</div>