<div class="container">
	<div class="hero-unit">
		<h1>Unos novog oglasa</h1>
		<br>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="naslov"> Naslov:</label>
				<div class="controls">
					<input type="text" id="naslov" ng-model="ad.title" required=""/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="naslov"> Podlaslov:</label>
				<div class="controls">
					<input type="text" id="podnaslov" ng-model="ad.subtitle" required=""/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="opis">Opis:</label>
				<div class="controls">
					<textarea id="opis" ng-model="ad.description" required></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cijena">Cijena:</label>
				<div class="controls">
					<input id="cijena" type="number" ng-model="ad.price" required=""/>

				</div>
				<label class="control-label" for="jedinica">po:</label>
				<div class="controls">
					<select id="jedinica" ng-model="ad.unit">
						<option value="s">Sekundi</option>
						<option value="min">Minuti</option>
						<option value="h">Satu</option>
						<option value="d">Danu</option>
						<option value="mon">Mjesecu</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="pocetak">Početak oglasa:</label>
				<div class="controls">
					<p id="pocetak" class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ad.date_start" is-open="opened1" min-date="minDate" max-date="'2555-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openSD($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button> </span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="kraj">Kraj oglasa:</label>
				<div class="controls">
					<p id="kraj" class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ad.date_end" is-open="opened2" min-date="minDate" max-date="'2555-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openED($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button> </span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="vidljivost">Objava oglasa:</label>
				<div class="controls">
					<input id="vidljivost" type="checkbox" ng-model="ad.visibility"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="tip">Tip reklame:</label>
				<div class="controls">
					<select id="tip" ng-model="ad.ad_type" ng-options="type.id as type.ad_type for type in tipovi">

					</select>
				</div>
			</div>
			<div class="control-group" ng-show="ad.ad_type==1 || ad.ad_type==2">

				<label class="control-label" for="trajanje">Trajanje:</label>
				<div class="controls">
					<input id="vidljivost" type="number" ng-model="ad.max_duration" placeholder="maksimalno trajanje u sekundama"/>
				</div>
			</div>
			{{poruka}}
			<div class="control-group">
				<div class="controls">
					<button class="btn-primary" ng-click="posalji()">
						Unesi
					</button>
				</div>
			</div>
			<div ng-show="uspjesno==1">Uspješno ste dodali novu reklamu!</div>
		</form>
	</div>
</div>