<div class="container">
	<div class="hero-unit">
		<h1>Unos novog oglasa</h1>
		<br>
		<form class="form-horizontal" name="adForma" style="width: 400px;">
            <div class="control-group">
                <label class="control-label" for="tip">Tip reklame:</label>
                <div class="controls">
                    <select class="form-control" id="tip" ng-model="ad.ad_type" ng-options="type.id as type.ad_type for type in tipovi">

                    </select>
                </div>
            </div>

			<div class="control-group">
				<label class="control-label" for="naslov"> Naslov:</label>
				<div class="controls">
					<input type="text" class="form-control" name="title" id="naslov" ng-model="ad.title" ng-minlength="4" ng-maxlength="50" required=""/>
					<p ng-show="adForma.title.$error.minlength" class="help-block">
						Naslov je prekratak.
					</p>
					<p ng-show="userForm.title.$error.maxlength" class="help-block">
						Naslov je predug.
					</p>
				</div>

			</div>
			<div class="control-group">
				<label class="control-label" for="naslov"> Podlaslov:</label>
				<div class="controls">
					<input type="text" class="form-control" name="subtitle" id="podnaslov" ng-model="ad.subtitle" ng-maxlength="200" required=""/>
                    <p ng-show="userForm.subtitle.$error.maxlength" class="help-block">
                        Podnaslov je predug.
                    </p>
				</div>

			</div>
			<div class="control-group">
				<label class="control-label" for="opis">Opis:</label>
				<div class="controls">
					<textarea id="opis" class="form-control" name="description" ng-model="ad.description" ng-maxlength="10000" required></textarea>
                    <p ng-show="userForm.description.$error.maxlength" class="help-block">
                        Opis je predug.
                    </p>
				</div>

			</div>
			<div class="control-group">
				<label class="control-label" for="cijena">Cijena:</label>
				<div class="controls">
					<input class="form-control" id="cijena" type="number" ng-model="ad.price" required=""/>
				</div>

				<label class="control-label" for="jedinica">Po:</label>
				<div class="controls">
                    <input class="form-control" id="jedinica" type="text" ng-model="ad.unit" required=""/>
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="trajanje">Količinskih jedinica:</label>
                <div class="controls">
                    <input class="form-control" id="vidljivost" type="number" ng-model="ad.max_duration" />
                </div>
            </div>
			<div class="control-group">
				<label class="control-label" for="pocetak">Početak oglasa:</label>
				<div class="controls">
					<p id="pocetak" class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ad.date_start" is-open="opened1" min-date="minDate" max-date="'2555-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openSD($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button> </span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="kraj">Kraj oglasa:</label>
				<div class="controls">
					<p id="kraj" class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ad.date_end" is-open="opened2" min-date="minDate" max-date="'2555-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openED($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button> </span>
					</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="vidljivost">Objava oglasa:</label>
				<div class="controls">
					<input  id="vidljivost" type="checkbox" ng-model="ad.visibility"/>
				</div>
			</div>

            <button class="btn btn-primary" ng-click="posalji()" ng-disabled="adForma.$invalid">
                Kreiraj reklamu
            </button>
		</form>
	</div>
</div>