<div class="container">
    <div class="hero-unit">
        <div class="jumbotron">
            <h3>Pridruzite se najvecoj marketinskoj zajednici!</h3>
        </div>
        <table class="table table-striped table-condensed">
            <tr align="center">
                <td><h4>Klijent</h4></td>
                <td><h4>Oglasivac</h4></td>
            </tr>
            <tr>
                <td >
                    <ul>
                        <li>Kontrola korisnickog naloga</li>
                        <li>Ostavljanje dojma i ocjenjivanje</li>
                        <li>Praćenje oglasa oglašivač</li>
                        <li>Prijava na oglas oglašivač</li>
                        <li>Pregled prijavljenih i arhiviranih oglasa</li>
                        <li>Objava potražnje za reklamnim prostorom</li>
                        <li>Postavljenje materijala za reklamu</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Kontrola korisnickog naloga</li>
                        <li>Ostavljanje dojma i ocjenjivanje</li>
                        <li>Praćenje oglasa oglašivač</li>
                        <li>Prijava na oglas oglašivač</li>
                        <li>Pregled prijavljenih i arhiviranih oglasa</li>
                        <li>Objava potražnje za reklamnim prostorom</li>
                        <li>Postavljenje materijala za reklamu</li>
                        <li>Definiranje liste usluga</li>
                        <li>Postavljanje cjenovnika i uslova reklamiranja</li>
                        <li>Pregled statistike rada</li>
                        <li>Objava reklamnog prostora i administracija</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/#/registerUserFormClient" class="btn btn-info btn-block" style="color: #ffffff;">Registruj</a>
                </td>
                <td>
                    <a href="/#/registerUserFormMarketer" class="btn btn-info btn-block" style="color: #ffffff;">Registruj</a>
                </td>
            </tr>
        </table>
    </div>
</div>

