//@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FC4349;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1050px;
}

.image-size {
  max-width: 100px;
  min-width: 120px;
  max-height: 100px;
}
.imageClip{
width:100px;
height:100px;
overflow:hidden;
}

.btn-primary:visited{
  color:white;
}
.btn-danger:visited{
  color:white;
}
.thumbnails li{
  background: linear-gradient(to bottom, #EEEEEE, #DDDDDD);
  padding-bottom:5px;
  padding-left:3px;
  padding-right:3px;
  border:2px solid white;
  border-radius: 10px;
}
.captcha{
  width: 400px;
      display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#IDKorisnikDugme{
    margin-right: 40px;
    margin-top: 10px;
}
.navbar-inverse .navbar-inner{
  background-color: #6C6E58;
  background-image: linear-gradient(to bottom, #3E423A, #6C6E58);
}
.navbar-inverse .brand{
    color: #F4F7D9;
}
.btn-inverse{
  background-image: linear-gradient(to bottom, #3E423A, #6C6E58);
  color: #F4F4F4;
  border: none;
}
.hero-unit{
  background-color: #F4F7D9;
}
.banner{
  background-image: url('/mhub.png');
    height: 320px;
  background-repeat: no-repeat;
  
  background-position: 
  center center;
  width: 70%;
  position: relative;
}

.next{
  background-image: linear-gradient(to bottom, #FEFEFE, #FFFFFF);
    color: #3E423A;
    font: 36px Verdana;
    left: 390px;
    position: absolute;
    text-decoration: underline;
    top: 200px;
}
.next:hover{
  color: #6C6E58;
}

.meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}


